@media print {
      	.print,
      	.download-pdf,
      	header { 
        	display: none;
        }
    }

@media print {
        abbr {
			border:none !important;
        }
    }

@media print {
		.mainContent {
			padding-left:0px !important;
			padding-right:0px !important;
		}
	}

@media print { .showOnPrint { display: inline !important;}}
@media print { .hideOnPrint { display: none !important;}}
/*@media print { a { text-decoration:underline !important; }}*/

@media print { #lnkToolOpen > i.cb-icon-pencil {display: none !important;}}