
.cb-icon-trash:before { content: '\e800'; } /* '' */
.cb-icon-italic:before { content: '\e801'; } /* '' */
.cb-icon-indent-left:before { content: '\e802'; } /* '' */
.cb-icon-indent-right:before { content: '\e803'; } /* '' */
.cb-icon-link:before { content: '\e804'; } /* '' */
.cb-icon-align-left:before { content: '\e805'; } /* '' */
.cb-icon-align-center:before { content: '\e806'; } /* '' */
.cb-icon-align-right:before { content: '\e807'; } /* '' */
.cb-icon-align-justify:before { content: '\e808'; } /* '' */
.cb-icon-list-numbered:before { content: '\e809'; } /* '' */
.cb-icon-list-bullet:before { content: '\e80a'; } /* '' */
.cb-icon-move:before { content: '\e80b'; } /* '' */
.cb-icon-camera:before { content: '\e80c'; } /* '' */
.cb-icon-eraser:before { content: '\e80d'; } /* '' */
.cb-icon-pencil:before { content: '\e80e'; } /* '' */
.cb-icon-underline:before { content: '\e80f'; } /* '' */
.cb-icon-bold:before { content: '\e810'; } /* '' */
.cb-icon-strike:before { content: '\e811'; } /* '' */
.cb-icon-code:before { content: '\e812'; } /* '' */
.cb-icon-ok:before { content: '\e813'; } /* '' */
.cb-icon-quote:before { content: '\e814'; } /* '' */
.cb-icon-facebook:before { content: '\e815'; } /* '' */
.cb-icon-twitter:before { content: '\e816'; } /* '' */
.cb-icon-linkedin:before { content: '\e817'; } /* '' */
.cb-icon-googleplus:before { content: '\e818'; } /* '' */
.cb-icon-dribbble:before { content: '\e819'; } /* '' */
.cb-icon-pinterest:before { content: '\e81a'; } /* '' */
.cb-icon-instagram:before { content: '\e81b'; } /* '' */
.cb-icon-github-text:before { content: '\e81c'; } /* '' */
.cb-icon-mail:before { content: '\e81d'; } /* '' */