@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29535990');
  src: url('../font/fontello.eot?29535990#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?29535990') format('woff'),
       url('../font/fontello.ttf?29535990') format('truetype'),
       url('../font/fontello.svg?29535990#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29535990#fontello') format('svg');
  }
}
*/
 
 [class^="cb-icon-"]:before, [class*=" cb-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cb-icon-trash:before { content: '\e800'; } /* '' */
.cb-icon-italic:before { content: '\e801'; } /* '' */
.cb-icon-indent-left:before { content: '\e802'; } /* '' */
.cb-icon-indent-right:before { content: '\e803'; } /* '' */
.cb-icon-link:before { content: '\e804'; } /* '' */
.cb-icon-align-left:before { content: '\e805'; } /* '' */
.cb-icon-align-center:before { content: '\e806'; } /* '' */
.cb-icon-align-right:before { content: '\e807'; } /* '' */
.cb-icon-align-justify:before { content: '\e808'; } /* '' */
.cb-icon-list-numbered:before { content: '\e809'; } /* '' */
.cb-icon-list-bullet:before { content: '\e80a'; } /* '' */
.cb-icon-move:before { content: '\e80b'; } /* '' */
.cb-icon-camera:before { content: '\e80c'; } /* '' */
.cb-icon-eraser:before { content: '\e80d'; } /* '' */
.cb-icon-pencil:before { content: '\e80e'; } /* '' */
.cb-icon-underline:before { content: '\e80f'; } /* '' */
.cb-icon-bold:before { content: '\e810'; } /* '' */
.cb-icon-strike:before { content: '\e811'; } /* '' */
.cb-icon-code:before { content: '\e812'; } /* '' */
.cb-icon-ok:before { content: '\e813'; } /* '' */
.cb-icon-quote:before { content: '\e814'; } /* '' */
.cb-icon-facebook:before { content: '\e815'; } /* '' */
.cb-icon-twitter:before { content: '\e816'; } /* '' */
.cb-icon-linkedin:before { content: '\e817'; } /* '' */
.cb-icon-googleplus:before { content: '\e818'; } /* '' */
.cb-icon-dribbble:before { content: '\e819'; } /* '' */
.cb-icon-pinterest:before { content: '\e81a'; } /* '' */
.cb-icon-instagram:before { content: '\e81b'; } /* '' */
.cb-icon-github-text:before { content: '\e81c'; } /* '' */
.cb-icon-mail:before { content: '\e81d'; } /* '' */